.infoWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.star {
  stroke: none;
  fill: var(--rating);
}
