.wrapper {
  padding: 48px 0;
  display: flex;
  flex-direction: row;
  gap: 64px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.loadMore {
  font-weight: 500;
  letter-spacing: -0.01em;
  width: 166px;
  height: 56px;
  border-radius: 28px;
  background-color: transparent;
  color: var(--button);
  border: 1px solid var(--button);
  transition: var(--transition);

  &:hover,
  &:focus {
    border-color: var(--button-hover);
  }
}
