.wrapper {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sectionWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sectionHeader {
  font-weight: 400;
  color: var(--gray);
}

.section {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.inputWrapper {
  position: relative;
}

.locationIcon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--main);
  pointer-events: none;
}

.locationInput {
  color: var(--main);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 40px;
  border-radius: 12px;
  width: 360px;
  height: 56px;
  border: 1px solid var(--inputs);
  background: var(--inputs);
  transition: var(--transition);
}

.locationInput:hover,
.locationInput:focus {
  border: 1px solid var(--button-hover);
  outline: none;
}

.filterGroup {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
}

.header:after {
  content: '';
  display: block;
  width: 100%;
  border-bottom: 1px solid var(--light-gray);
  margin-top: 24px;
}

.filterListWrapper {
  max-height: 208px;
  overflow: hidden;
  transition: var(--transition);
}

.expanded {
  max-height: 999px;
}

.filterList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 12px;
  row-gap: 8px;
}

.filterItem {
  width: 112px;
  height: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: transparent;
  border: 1px solid var(--light-gray);
  border-radius: 12px;
  transition: var(--transition);
  cursor: pointer;
}

.active {
  border: 1px solid var(--button);
}

.icon {
  stroke: none;
  fill: var(--main-color);
  transition: var(--transition);
}

.showMoreBtn {
  align-self: center;
  font-weight: 500;
  letter-spacing: -0.01em;
  border: 1px solid var(--button);
  background-color: transparent;
  color: var(--button);
  border-radius: 28px;
  width: 166px;
  height: 56px;
}

.showMoreBtn:hover,
.showMoreBtn:focus {
  border: 1px solid var(--button-hover);
  outline: none;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.searchButton,
.resetButton {
  font-weight: 500;
  letter-spacing: -0.01em;
  color: var(--white);
  border-radius: 200px;
  width: 166px;
  height: 56px;
  background: var(--button);
}

.searchButton:hover,
.searchButton:focus,
.resetButton:hover,
.resetButton:focus {
  background-color: var(--button-hover);
}
