.wrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 48px 0;
}

.goBackLink {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  font-weight: 500;
  letter-spacing: -0.01em;
  width: 166px;
  height: 56px;
  border-radius: 28px;
  color: var(--button);
  background-color: transparent;
  border: 1px solid var(--button);
  transition: var(--transition);

  &:hover,
  &:focus {
    border-color: var(--button-hover);
    outline: none;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.name,
.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
}

.gallery {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 48px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.galleryItem {
  width: 292px;
  height: 312px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 10px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.description {
  color: var(--text-color);
}

.tabs {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.links {
  display: flex;
  gap: 40px;
  position: relative;
  margin-bottom: 24px;
  border-bottom: 1px solid var(--light-gray);
}

.link {
  position: relative;
  padding-bottom: 24px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--text-color);

  &::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: var(--button);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform var(--transition);
  }

  &.active::after {
    transform: scaleX(1);
  }
}

.tabsWrapper {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
