.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  text-align: center;
  gap: 12px;
}

.title {
  font-size: 36px;
  font-weight: 500;
  color: var(--main-color);
}

.text {
  font-size: 24px;
  color: var(--text-color);
}

.timer {
  font-size: 24px;
  color: var(--button);
}
